<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link href="/stylesheets/error.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section id="screenMessage">
        <h1>404 Not Found</h1>
    </section>
    <section id="errorDescription">
        <p>
            ...Oops! The resource you requested was nowhere to be found.
        </p>
        <p>
            Go back to <a href="/">Connect<sup>4</sup></a>
        </p>
    </section>
</body>

</html>
