<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link rel="stylesheet" href="/stylesheets/game.css">
</head>

<body>
    <section id="screenMessage">
        <h1>Waiting for another player to join<span id="firstDot">.</span><span id="secondDot">.</span><span id="thirdDot">.</span></h1>
    </section>

    <div id="gameScreen">
        <section id="cloudSection">
            <div id="cloudBox">
                <h1>Connect 4</h1>
            </div>
        </section>

        <section id="gridSection">
            <div id="backgroundGrid">
                <div id="board">
                    <div class="column" id="column0">
                        <div class="cell" id="cell00"></div>
                        <div class="cell" id="cell10"></div>
                        <div class="cell" id="cell20"></div>
                        <div class="cell" id="cell30"></div>
                        <div class="cell" id="cell40"></div>
                        <div class="cell" id="cell50"></div>
                    </div>
                    <div class="column" id="column1">
                        <div class="cell" id="cell01"></div>
                        <div class="cell" id="cell11"></div>
                        <div class="cell" id="cell21"></div>
                        <div class="cell" id="cell31"></div>
                        <div class="cell" id="cell41"></div>
                        <div class="cell" id="cell51"></div>
                    </div>
                    <div class="column" id="column2">
                        <div class="cell" id="cell02"></div>
                        <div class="cell" id="cell12"></div>
                        <div class="cell" id="cell22"></div>
                        <div class="cell" id="cell32"></div>
                        <div class="cell" id="cell42"></div>
                        <div class="cell" id="cell52"></div>
                    </div>
                    <div class="column" id="column3">
                        <div class="cell" id="cell03"></div>
                        <div class="cell" id="cell13"></div>
                        <div class="cell" id="cell23"></div>
                        <div class="cell" id="cell33"></div>
                        <div class="cell" id="cell43"></div>
                        <div class="cell" id="cell53"></div>
                    </div>
                    <div class="column" id="column4">
                        <div class="cell" id="cell04"></div>
                        <div class="cell" id="cell14"></div>
                        <div class="cell" id="cell24"></div>
                        <div class="cell" id="cell34"></div>
                        <div class="cell" id="cell44"></div>
                        <div class="cell" id="cell54"></div>
                    </div>
                    <div class="column" id="column5">
                        <div class="cell" id="cell05"></div>
                        <div class="cell" id="cell15"></div>
                        <div class="cell" id="cell25"></div>
                        <div class="cell" id="cell35"></div>
                        <div class="cell" id="cell45"></div>
                        <div class="cell" id="cell55"></div>
                    </div>
                    <div class="column" id="column6">
                        <div class="cell" id="cell06"></div>
                        <div class="cell" id="cell16"></div>
                        <div class="cell" id="cell26"></div>
                        <div class="cell" id="cell36"></div>
                        <div class="cell" id="cell46"></div>
                        <div class="cell" id="cell56"></div>
                    </div>
            
                </div>
            </div>
        </section>

        <div id="bottomSection">
            <div id="statsSection">
                <section id="firstUserSection">
                    <div id="avatarFirst">
                        <img id="firstPlayerAvatar" src="/images/avatarOwl.png" alt="Avatar">
                    </div>
                    <div id="usernameFirst">player1</div>
                </section>

                <section id="timerSection">
                    <div id="secondsRemaining">20</div>
                </section>

                <section id="secondUserSection">
                    <div id="usernameSecond">player2</div>
                    <div id="avatarSecond">
                        <img id="secondPlayerAvatar" src="/images/avatarOwl.png" alt="Avatar">
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <script src="javascripts/messages.js"></script>
    <script src="javascripts/config.js"></script>
    <script src="javascripts/player.js"></script>
    <script src="javascripts/setup.js"></script>
    <script src="javascripts/game.js"></script>
</body>

</html>