<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/result.css">
</head>
<body>
    <div id="resultBlock">
        <div id="resultScreen">
            <div id="resultSection">
                <div id="image">
                    <img id="picture" src="/images/Losing.png">
                </div>
                <div id="text">
                    <h1>
                        ...Oh, that's tough!<br>You lost!
                    </h1>
                </div>
            </div>
            <div id="buttonsSection">
                <div id="rematchButton">
                    <form action="/" method="get">
                        <button id="getHome">Rematch</button>
                    </form>
                </div>
                <div id="homeButton">
                    <form action="/" method="get">
                        <button id="getHome">Home</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>