<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link href="/stylesheets/rules.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="rulesGrid">
        <section id="videoSection">
            <img src="/images/rules/rulesVideo.png">
        </section>
        <section id="rulesSection">
            <div id="rulesContainer">
                <h2>Connect<sup>4</sup></h2>
                <p>
                    Want to play Connect<sup>4</sup> online with your friends? <br>
                </p>
                <p>
                    Click <a href="/">here</a> to choose your username.
                </p>
                <p>
                    These are the rules of the duel:
                </p>
                <p>
                <ul>
                    <li>Click on a column to place your drop at its bottom.</li>
                    <li>Drops stack on one another in the available fields.</li>
                    <li>Win by placing four drops on the same line - horizontal, vertical and diagonal.</li>
                </ul>
                </p>
                <p>
                    What are you waiting for? Start playing <a href="/play">NOW</a>!
                </p>
            </div>
        </section>
    </div>
</body>

</html>