<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link href="/stylesheets/splash.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section id="cloudSection">
        <div id="title">Connect 4</div>
    </section>

    <section id="statsSection">
        <div id="activeRooms"></div>
        <div id="averagePlaytime"></div>
        <div id="totalGames"></div>
    </section>

    <section id="userSection">
        <input type="text" id="username">
        <form action="/play" method="get">
            <button id="playButton">Play</button>
        </form>
        <form action="/rules" method="get">
            <button id="rules">How To?</button>
        </form>
    </section>
</body>
</html>