<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect 4</title>
    <link href="/stylesheets/splash.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="splashGrid">
        <section id="cloudSection">
            <div id="title">
                <h1>
                    Connect<sup>4</sup>
                </h1>
            </div>
        </section>

        <section id="statsSection">
            <div id="activeRooms"></div>
            <div id="averagePlaytime"></div>
            <div id="totalGames"></div>
        </section>

        <section id="userSection">
            <div id="userForm">
                <div id="usernameContainer" class="formItem">
                    <input id="usernameInput" type="text" id="username">
                </div>
                <form class="formItem" action="/play" method="get">
                    <button id="playButton">Play</button>
                </form>
                <form class="formItem" action="/rules" method="get">
                    <button id="rulesButton">How To?</button>
                </form>
            </div>
        </section>
    </div>
</body>

</html>