@import "style.css";

@keyframes drop {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(var(--b));
    }
}

.drop {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gameScreen {
    display: grid;
    /* height: 96vh; */
    width: 100%;
    aspect-ratio: 2/0.91;
    grid-template-rows: 25% 65% 10%;
    grid-row-gap: 0.8%;
}

#cloudSection {
    grid-row-start: 1;
    grid-row-end: 2;
    
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#cloudBox {
    margin-top: 1%;
    width: 40%;
    font-size: 3.5vw;
    font-family: silkscreen;
    -webkit-text-fill-color: transparent;
    animation: movingCloud 8s linear infinite;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gridSection {
    grid-row-start: 2;
    grid-row-end: 3;
    
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#backgroundGrid {
    margin-top: 3.2%;
    width: 40%;
    height: 90%;
    background-image: url('/images/grid.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#board {
    margin-bottom: -1%;
    height: 91.5%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#board .column {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}


#board .column .cell {
    width: 100%;
    height: 100%;
    z-index: -10;
}

#bottomSection {
    grid-row-start: 3;
    grid-row-end: 4;
    
    display: flex; 
    justify-content: center; 
    align-items: center;
    

}

#statsSection {
    width: 40%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#firstUserSection {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 100%;
}

/* #firstPlayerAvatar {
    width: 3.8vw;
    margin-top: 0.5vw;
    height: auto;
} */

#usernameFirst::before {
    content: "";
    background-image: url("/images/avatarOwl.png");
    background-size: 3.8vw 3.8vw;
    display: inline-block;
    width: 3.8vw;
    height: 3.8vw;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
}

#usernameFirst {
    display: flex; 
    justify-content: left; 
    align-items: center;
    font-size: 1.7vw;
    margin-left: 5%;
    font-family: silkscreen;
}

#timerSection {
    grid-column: 2 / span 1;
    font-family: silkscreen;
    font-size: 2.2vw;
    display: flex; 
    justify-content: center; 
    align-items: center;
    

}

#secondUserSection {
    grid-column: 3 / span 1;
    display: grid;
    grid-template-columns: 100%;
}

#usernameSecond {
    display: flex; 
    justify-content: right; 
    align-items: center;
    margin-right: 5%;
    font-size: 1.7vw;
    font-family: silkscreen;
}

#usernameSecond::after {
    content: "";
    background-image: url("/images/avatarOwl.png");
    background-size: 3.8vw 3.8vw;
    display: inline-block;
    width: 3.8vw;
    height: 3.8vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

/* #secondPlayerAvatar {
    width: 3.8vw;
    margin-top: 0.5vw;
    height: auto;
} */

#screenMessage {
    width: 99%;
    overflow: hidden;
    margin-top: 30vh;
    text-align: center;
    position: absolute;
}


@keyframes dot {
    0% {
        transform: translateY(0%);
    } 
    100% {
        transform: translateY(-1vh);
    }
}

#firstDot {
    animation: dot 1s linear infinite alternate;
    display: inline-block;
}

#secondDot {
    animation: dot 1s linear infinite alternate;
    animation-delay: 0.3s;
    display: inline-block;
}

#thirdDot {
    animation: dot 1s linear infinite alternate;
    animation-delay: 0.6s;
    display: inline-block;
}

/* Winning screen styling */

#winningPicture {
    width: 25%;
}

/* Losing screen styling */

#losingPicture {
    width: 20%;
}

/* Common styling for winnig and losing screen */


.resultScreen {
    display: grid;
    grid-template-rows: 60% 40%;
    width: 100%;
    aspect-ratio: 2/0.91;
}

.resultSection {
    display: grid;
    grid-template-rows: 60% 40%;
    width: 100%;
}

.resultImage {
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
}

.textBox {
    margin-top: 1vh;
    text-align: center;
}

.buttonsSection {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
}

.rematchButton {
    width: 11%;
}

.homeButton {
    width: 11%;
}

.resultsText {
    font-size: 2.5vw;
}

.getHome {
    margin: 5px;
    width: 100%;
    aspect-ratio: 2/0.7;
}

.rematch {
    margin: 5px;
    width: 100%;
    aspect-ratio: 2/0.7;
}