body {
    background-color: #bbdefb;
}

#splashGrid {
    display: grid;
    grid-template-rows: 38vh 58vh;
    grid-template-columns: 60% 40%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

#cloudSection {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid red 1px;
}

#statsSection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid red 1px;
}

#userSection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid red 1px;
}

#title {
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 4vw;
}