@font-face {
    font-family: silkscreen;
    src: url("/fonts/slkscr.ttf");
}

body {
    font-family: silkscreen;
    background-color: #bbdefb;
}

.drop {
    position: absolute;
    height: 3vw;
    width: 3vw;
    background-image: url('/images/LastDrop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@keyframes drop {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(37.5vh);
    }

    100% {
        transform: translateY(75vh);
    }
}

#splashGrid {
    width: 100%;
    aspect-ratio: 2/0.91;
    display: grid;
    grid-template-rows: 38% 58%;
    grid-template-columns: 55% 45%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

#cloudSection {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#statsSection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex; 
    justify-content: right;
    align-items: center;
}

#userSection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex; 
    justify-content: left;
    align-items: center;
}

#title {
    font-size: 3.5vw;
    width: 50%;
    background-image: url('/images/CloudFrame1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#userForm {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.formItem {
    margin: 5px;
    width: 80%;
    aspect-ratio: 2/0.7;
}

#statsContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.stat {
    margin: 5px;
    width: 80%;
    aspect-ratio: 2.9/0.7;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 10px;
}

.statName {
    background-image: url("/images/splash/statsName.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: silkscreen;
    font-size: 2vw;
    color: #3f51b5;
}

.statValue {
    background-image: url("/images/splash/statsValue.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: silkscreen;
    font-size: 2vw;
    width: 100%;
    color: #3f51b5;
}

form button {
    font-family: silkscreen;
    font-size: 2vw;
    border: none;
    width: 100%;
    color: #3f51b5;
    height: 100%;
    background-image: url('/images/splash/button.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#usernameContainer {
    border: none;
    background-image: url('/images/splash/usernameField.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#usernameInput {
    background-color: transparent;
    font-family: silkscreen;
    font-size: 2vw;
    color: #2196f3;
    width: 80%;
    border: none;
}

#usernameInput:focus {
    outline: none;
}