body {
    background-color: #bbdefb;
}

#splashGrid {
    display: grid;
    grid-template-rows: 38vh 58vh;
    grid-template-columns: 60% 40%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

#cloudSection {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid red 1px;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#statsSection {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid red 1px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#userSection {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid red 1px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 3.5vw;
    width: 50%;
    border: solid green 1px;
    background-image: url('/images/CloudFrame1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#userForm {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid green 1px;
    width: 50%;
}

.formItem {
    margin: 5px;
    width: 80%;
    height: 10vh;
}

form button {
    border: none;
    width: 100%;
    height: 100%;
    background-image: url('/images/splash/button.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#usernameContainer {
    border: none;
    background-image: url('/images/splash/usernameField.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#usernameInput {
    background-color: transparent;
    width: 80%;
    border: none;
}

#usernameInput:focus {
    outline: none;
}