@import "style.css";

#winningScreen {
    display: grid;
    grid-template-rows: 60% 40%;
    width: 100%;
    aspect-ratio: 2/0.91;
}

#winningSection {
    display: grid;
    grid-template-rows: 60% 40%;
    width: 100%;
}

#image {
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
}

#winningImage {
    width: 25%;
}

#text {
    margin-top: 1vh;
    text-align: center;
}

#buttonsSection {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
}

#rematchButton {
    width: 11%;
}

#homeButton {
    width: 11%;
}

h1 {
    font-size: 2.5vw;
}

#getHome {
    margin: 5px;
    width: 100%;
    aspect-ratio: 2/0.7;
}

form button {
    font-family: silkscreen;
    font-size: 2vw;
    border: none;
    width: 100%;
    color: #3f51b5;
    height: 100%;
    background-image: url('/images/splash/button.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

form button:hover {
    cursor: pointer;
    background-image: url('/images/splash/buttonSelected.png');
    animation: buttonSelect 0.1s forwards;
}

@keyframes buttonSelect {
    100% {
        transform: scale(1.05);
    }
}